[submodule "src/reinforcement_learning/env/third_party_environments/gym-duckietown"]
	path = src/reinforcement_learning/env/third_party_environments/gym-duckietown
	url = https://github.com/KopanevPavel/gym-duckietown.git
[submodule "src/reinforcement_learning/env/third_party_environments/gym-donkeycar"]
	path = src/reinforcement_learning/env/third_party_environments/gym-donkeycar
	url = https://github.com/KopanevPavel/gym-donkeycar.git
